@import url('https://fonts.googleapis.com/css2?family=Oswald');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Oswald',sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
div{
    position: absolute;
    bottom: 20px;
    /* background: rgba(0, 0, 0, 0.1); */
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    border: none;
    text-align: center;
    background-color: #fff;
}
input:focus{
    outline: none;
}